body {
	background-color: #fdf9ee;
	color: #343434;
}
#main {
	margin: 0 100px;
	border-left: 5px dashed #91918c;
	border-right: 5px dashed #91918c;
}
@media (max-width: 500px) {
	#main {
		margin: 0;
	}
	h1 {
		padding: 0 5px;
	}
}
header {
	text-align: center;
}
header::after {
	display: block;
	content: "";
	border-bottom: 3px solid #000;
	margin: 0 40px;
}
h1 {
	font-family: 'Shrikhand', cursive;
	font-size: 60px;
	margin-bottom: 10px;
}
p {
	font-family: Verdana;
}
.biography {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
@media (max-width: 1200px) {
	.biography {
		grid-template-columns: 1fr;
	}
	.bio-item-1 img {
		height: 300px;
	}
	.bio-item-2 {
		margin-left: 40px;
	}
	.bio-item-2 h2 {
		text-align: center;
	}
}
.timeline::before {
	display: block;
	content: "";
	border-bottom: 3px solid #000;
	margin: 0 40px;
}
.bio-item-1 {
	text-align: center;
	font-family: serif;
	font-size: 12px;
}
.bio-item-1 img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
.bio-item-2 {
	margin-right: 40px;
}
.timeline h2 {
	text-align: center;
}
.timeline-list {
	margin-right: 40px;
	list-style: none;
	display: grid;
	grid-template-columns: 2fr 8fr;
	grid-template-areas: "Year Event";
	grid-row-gap: 20px;
}
@media (max-width: 800px) {
	.timeline-list {
		grid-template-columns: 1fr;
		grid-template-areas: 
			"Year"
			"Event";
		grid-row-gap: 0;
	}
	.timeline-event {
		margin-bottom: 20px;
	}
}
.timeline li {
	padding: 10px;
	min-height: 50px;
}
.timeline-year {
	background-color: #343434;
	grid-area: "year";
	color: #fdf9ee;
	font-family: "Arial Black";
	font-size: 18px;
	line-height: 55px;
	text-align: center;
	font-weight: bolder;
	text-transform: uppercase;
}
.timeline-event {
	grid-area: "event";
	border: 5px solid #343434;
	font-weight: 501;
}
footer {
	color: #fdf9ee;
	margin: 100px 40px 20px 40px;
	padding: 20px;
	background-color: #91918c;
}
footer a {
	text-decoration: none;
	color: #343434;
}
footer a:hover {
	color: brown;
}